@font-face {
  font-family: 'GThin';
  src:font-url('Gotham-Thin.eot');
  src:font-url('Gotham-Thin.eot?#iefix') format('embedded-opentype'),
    font-url('Gotham-Thin.svg#icomoon') format('svg'),
    font-url('Gotham-Thin.woff') format('woff'),
    font-url('Gotham-Thin.ttf') format('truetype'),
	font-url('Gotham-Thin.svg#Gotham-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

html, body, p, a {font-family:'GThin';letter-spacing:-2px;}

.parent {position:relative;height:100vh;}
.child {
	font-size:60px;
	position: absolute; 
	top:calc(45% - 60px);
	left: 0;
	text-align: center; 
	width: 100%;
}